.left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.center {
  position: absolute;
  top: 0;
  right: 40;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
}

.moveDisplay {
  font-size: 4rem;
}
